<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Stock #</th>
        <th>Release Date</th>
    </tr>
    </thead>
    <tbody>
    <% gameList.forEach(function (game) { %>
        <tr>
            <td><a href="<%= game.url %>"><%= game.title %></a></td>
            <td><%= game.genre.name %></td>
            <td>$<%= game.price %></td>
            <td><%= game.numInStock %></td>
            <td><%= game.releaseDate %></td>
        </tr>
    <% }) %>
    </tbody>
</table>